<div formGroupName="profileForm" class="wrapper">
  <h3>Contact Information</h3>

  <label>
    Title :
    <input type="text" formControlName="title" />
  </label>

  <label>
    FirstName
    <input type="text" formControlName="firstName" />
  </label>

  <label>
    LastName :
    <input type="text" formControlName="lastName" />
  </label>

  <label>
    Phone No. :
    <input type="text" formControlName="phoneNo" />
  </label>

  <label>
    Email :
    <input type="text" formControlName="email" />
  </label>

  <label>
    Gender :
    <input type="text" formControlName="gender" />
  </label>
</div>
