/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.text-error {
  color: red;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
